@model SuperheroesInc.DATA.EF.Character

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name) @ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alignment.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alignment.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceOfPower.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceOfPower.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, htmlAttributes: new { @class = "btn btn-warning" }) &ensp;
    @Html.ActionLink("All Characters", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
