@model SuperheroesInc.DATA.EF.CourseType

@{
    ViewBag.Title = "Delete";
}

<h2>@ViewBag.Title @Html.DisplayFor(model => model.Type)</h2>

<h3>Are you sure you want to delete @Html.DisplayFor(model => model.Type)?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> &ensp;
            @Html.ActionLink("All Course Types", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
    }
</div>
