@model SuperheroesInc.DATA.EF.CourseType

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title for @Html.DisplayFor(model => model.Type)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TypeID }, htmlAttributes: new { @class = "btn btn-danger"})
    @Html.ActionLink("All Course Types", "Index", null, htmlAttributes: new { @class = "btn btn-primary"})
</p>
