@model SuperheroesInc.DATA.EF.Cours

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name) @ViewBag.Title for @Html.DisplayFor(model => model.Date)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseType.Type)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, htmlAttributes: new { @class = "btn btn-warning" })
    }

    @Html.ActionLink("All Courses", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
