@model SuperheroesInc.DATA.EF.SourceOfPower

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title for @Html.DisplayFor(model => model.Description)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SourceID }, htmlAttributes: new { @class = "btn btn-warning"}) &ensp;
    @Html.ActionLink("All Sources of Power", "Index", null, htmlAttributes: new { @class = "btn btn-primary"})
</p>
