@model IEnumerable<SuperheroesInc.DATA.EF.SourceOfPower>

@{
    ViewBag.Title = "Source of Powers";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("New Source of Powers", "Create", null, htmlAttributes: new { @class = "btn btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SourceID }, htmlAttributes: new { @class = "btn btn-warning" }) &ensp;
            @Html.ActionLink("Details", "Details", new { id=item.SourceID }, htmlAttributes: new { @class = "btn btn-primary" }) &ensp;
            @Html.ActionLink("Delete", "Delete", new { id=item.SourceID }, htmlAttributes: new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
